input:focus, textarea:focus, .editable, img, div {
  outline: none; }

body {
  line-height: 0.9em;
  margin: 0; }

.hidden {
  display: none; }

.nube {
  width: 100% !important; }

.header {
  position: fixed;
  width: 100%; }
  .header .titlebar {
    width: 100%; }
  .header .actionbar_contents {
    width: 100%;
    position: absolute; }
    .header .actionbar_contents .action {
      float: left;
      width: 33.3%;
      height: 92px; }
      .header .actionbar_contents .action img {
        padding-top: 16px;
        margin: 0 auto;
        display: block;
        height: 25px; }

.fitwidth {
  width: 100%; }

.cameraform {
  overflow: hidden; }
  .cameraform .formlabel {
    width: 100%;
    display: block;
    font-family: "Verdana";
    font-size: 14px;
    color: #999999;
    clear: both;
    float: left;
    padding: 10%; }
  .cameraform select, .cameraform input {
    width: 80%;
    margin: 0 auto;
    display: block;
    background-color: white;
    border: 2px solid #a6a6a6;
    height: 30px; }

.orangebutton {
  margin-top: 10%;
  padding: 10%;
  text-align: center;
  color: white;
  background-color: #f76767; }

.catholder {
  padding: 0 10%;
  margin-bottom: 10%; }
  .catholder .cattitle {
    width: 100%;
    font-family: "Trebuchet MS";
    font-size: 32px;
    line-height: 40px;
    color: #a6a6a6;
    text-align: center; }
  .catholder .catgraybox {
    background-color: #e6e6e6;
    padding: 10px 0; }
    .catholder .catgraybox p {
      width: 100%;
      text-align: center;
      color: #999999;
      font-family: "Verdana";
      line-height: 50px;
      font-size: 14px; }

.loading {
  padding-top: 50%;
  width: 100%; }
  .loading .loadingtext {
    width: 100%;
    text-align: center;
    color: #f76767;
    font-family: "Trebuchet MS";
    font-size: 12px;
    margin-bottom: 5px; }
  .loading img {
    display: block;
    margin: auto; }

.content {
  padding-top: 30%;
  width: 100%; }
  .content .itemcontainer {
    background-image: url("../images/item_bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    overflow: hidden; }
    .content .itemcontainer .thumb {
      float: left;
      width: 35%;
      min-height: 100px;
      background-color: transparent; }
      .content .itemcontainer .thumb img {
        width: 80%;
        display: block;
        margin: auto; }
    .content .itemcontainer .itemdesc {
      float: left;
      width: 45%;
      min-height: 100px;
      background-color: transparent; }
      .content .itemcontainer .itemdesc .maindesc {
        font-family: "Trebuchet MS";
        font-size: 16px;
        color: #a6a6a6;
        line-height: 20px;
        margin-top: 5px; }
        .content .itemcontainer .itemdesc .maindesc span.distance {
          font-size: 10px;
          line-height: 20px;
          padding: 0px 5px; }
      .content .itemcontainer .itemdesc .price {
        font-family: "Trebuchet MS";
        color: #f76767;
        line-height: 20px; }
      .content .itemcontainer .itemdesc .category {
        color: #e6e6e6;
        font-family: "Verdana";
        font-size: 12px;
        margin-top: 5px; }
    .content .itemcontainer .go {
      min-height: 100px;
      float: left;
      width: 20%;
      background-color: transparent; }
      .content .itemcontainer .go img {
        display: block;
        margin: auto;
        margin-top: 20px;
        width: 50%; }
    .content .itemcontainer .orangebutton {
      margin: 10%;
      margin-top: 0;
      padding: 5%;
      clear: both; }
    .content .itemcontainer .descbox {
      background-color: #e6e6e6;
      color: #999999;
      font-family: "Verdana";
      margin: 10%;
      margin-bottom: 0;
      padding: 5%;
      line-height: 20px;
      font-size: 14px;
      clear: both; }
