@import "custom_reset.sass"
@import "typography.sass"
@import "colors.sass"

body
	line-height: 0.9em
	margin: 0

.hidden
	display: none

.nube
	width: 100% !important

.header
	position: fixed
	width: 100%
	.titlebar
		width: 100%
	
	.actionbar_contents
		width: 100%
		position: absolute
		.action
			float: left
			width: 33.3%
			height: 92px
			img
				padding-top: 16px
				margin: 0 auto
				display: block
				height: 25px		

.fitwidth
	width: 100%

.cameraform
	overflow: hidden

	.formlabel
		width: 100%
		display: block
		+content-font
		font-size: 14px
		color: #999
		clear: both
		float: left
		padding: 10%
		
	select, input
		width: 80%
		margin: 0 auto
		display: block
		background-color: #fff
		border: 2px solid #a6a6a6
		height: 30px
	
.orangebutton
	margin-top: 10%
	padding: 10%
	text-align: center
	color: #FFFFFF
	background-color: #f76767

.catholder
	padding: 0 10%
	margin-bottom: 10%
	.cattitle
		width: 100%
		+subheader-font
		font-size: 32px
		line-height: 40px
		+font-gray
		text-align: center
		
	.catgraybox
		background-color: #e6e6e6
		padding: 10px 0
		
		p
			width: 100%
			text-align: center
			color: #999999
			+content-font
			line-height: 50px
			font-size: 14px

.loading
	padding-top: 50%
	width: 100%
	
	.loadingtext
		width: 100%
		text-align: center
		+pink-read
		+subheader-font
		font-size: 12px
		margin-bottom: 5px

	img
		display: block
		margin: auto
	

.content
	padding-top: 30%
	width: 100%
	
	.itemcontainer
		background-image: url("../images/item_bg.png")
		background-repeat: no-repeat
		background-size: 100%
		width: 100%
		overflow: hidden  
		
		.thumb
			float: left
			width: 35%
			min-height: 100px
			background-color: transparent
		
			img
				width: 80%
				display: block
				margin: auto
				
		.itemdesc
			float: left
			width: 45%
			min-height: 100px
			background-color: transparent
			
			.maindesc
				+subheader-font
				font-size: 16px
				+font-gray
				line-height: 20px
				margin-top: 5px
				
				span.distance
					font-size: 10px
					line-height: 20px
					padding: 0px 5px
					
			.price
				+subheader-font
				+pink-read
				line-height: 20px
			
			.category
				+bg-gray
				+content-font
				font-size: 12px
				margin-top: 5px
		
		.go
			min-height: 100px
			float: left
			width: 20%
			background-color: transparent
			
			img
				display: block
				margin: auto
				margin-top: 20px
				width: 50%
				
		.orangebutton
			margin: 10%
			margin-top: 0
			padding: 5%
			clear: both
			
		.descbox
			background-color: #e6e6e6
			color: #999
			+content-font
			margin: 10%
			margin-bottom: 0
			padding: 5%
			line-height: 20px
			font-size: 14px
			clear: both
			
		
	
		