@import "custom_reset.sass"

body
	line-height: 0.9em
	margin: 0

.header
	position: fixed
	.titlebar
		width: 100%
	.actionbar
		width: 100%
	
	.actionbar_contents
		width: 100%
		position: absolute
		.action
			float: left
			width: 25%
			height: 92px
			img
				width: 30px
				padding-top: 16px
				margin: 0 auto
				display: block
				

.content
	padding-top:  25%
	
	.box
		width: 96%
	
		margin-top: 5% 		
		margin-left: 2%
		margin-right: 2%
		
		.boxheader
			font-size: 0.7em
			margin: 0 0
		
		.container
			background-color: #e6e6e6
			height: 100px
		

.fitwidth
	width: 100%